/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.container {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}

header, section, aside, footer {
  background: gray;
  margin-bottom: 30px;
  padding: 30px;
  height: 200px;
}

.left {
  float: left;
}


.right  {
  float: right;
}

section {
  width: 34%;
  float: left;
  margin-left: 3%;
  margin-right: 3%;
}

aside {
  width: 30%;
}

footer  {
  clear: both;
}