/*
 Floating Sections Code-Along

 Make the header red and 100% width
 Main should be yellow and 60% wide
 sideBar should be green and 40% wide
 pageFooter should be blue and 100% width

 */

.pageHeader {
	background: red;
	width: 100%;
	overflow: hidden;
}

.main {
	background: yellow;
	width: 60%;
	float: left;
}

.sideBar {
	background: green;
	width: 40%;
	float: left;
}

.pageFooter	{
	background: blue;
	width: 100%;
	overflow: hidden;
}

.placeholder	{
	border: 1px solid black;
	margin: 10px;
	padding: 30px;
	background:rgba(255, 255, 255, 0.75);
	min-height: 175px;
	
}